@font-face {
  font-family: "MenloRegular";
  src: url('/assets/fonts/MenloRegular/MenloRegular.ttf');
  src: url('/assets/fonts/MenloRegular/MenloRegular.ttf?iefix') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "KuraleRegular";
  src: url("KuraleRegular/KuraleRegular.ttf");
  font-style: normal;
  font-weight: normal;
}

// @font-face {
//   font-family: "MenloRegular";
//   src: url('/assets/HDV_Peace.eot');
//   src: url('/assets/HDV_Peace.eot?iefix') format('eot'),
//        url('/assets/HDV_Peace.woff') format('woff'),
//        url('/assets/HDV_Peace.ttf') format('truetype'),
//        url('/assets/HDV_Peace.svg#webfont') format('svg');
// }
